# EditorConfig is awesome: https://EditorConfig.org

# top-most EditorConfig file
root = true

# Unix-style newlines with a newline ending every file
[*]
end_of_line = lf
insert_final_newline = true
charset = utf-8
trim_trailing_whitespace = true
indent_style = space
indent_size = 4

# 2 space indentation for config files
[*.{json,yml,yaml,html,css}]
indent_size = 2

# Tab indentation (no size specified) for Makefiles
[Makefile]
indent_style = tab

# Markdown files
[*.md]
trim_trailing_whitespace = false
indent_size = 2

# TypeScript and JavaScript files
[*.{ts,js,jsx,tsx}]
indent_size = 2

# Python files
[*.py]
max_line_length = 100
indent_size = 4

# SQL files
[*.sql]
indent_size = 2

# Shell scripts
[*.sh]
indent_size = 2
